div.content
	div.container1

		h1 #{ course.name }
		p Instructor: #{ course.instructor }

		h2 Existing Lectures 
		ul
			- if ( lectures.length > 0 )
				- each lecture in lectures
					li
						a( href = '/lecture/#{ lecture._id }' ) #{ lecture.name }
			- else
				li None found.
		div
			span(class='sub_menu')
				a( href = '/course/#{ course._id }/lecture/new' ) New Lecture
